ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  background: #fff;
  color: #2e2f42;
}

.container {
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 80px;
  padding-top: 80px;
}
/* =======HEADER======= */

.header {
  background: #141414;
  padding-top: 34px;
  padding-bottom: 98px;
}

.header-container {
  display: flex;
  align-items: baseline;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 80px;
  padding-top: 34px;
}

.logo-text {
  font-size: 15px;
  letter-spacing: -0.03em;
  color: #fff;
}

.header-menu {
  display: flex;
  gap: 40px;
  padding-top: 38px;
}

.header-menu-link {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fff;
}

.header-address {
  font-style: normal;
  padding-top: 38px;
}

.address-link {
  display: inline-block;
  padding: 18px 35px;
  min-width: 159px;
  height: 48px;
  border-radius: 8px;
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #fff;
  background: #1e2827;
}

/* ======HERO ======*/
.hero-section {
  background: #141414;
  padding-bottom: 80px;
}

.hero-top {
  display: flex;
  gap: 144px;
  margin-bottom: 43px;
}

.hero-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.03333;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 750px;
}

.hero-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 282px;
}

.hero-gallery {
  display: flex;
  gap: 64px;
}

.hero-small {
  align-self: center;
}

/* ======ABOUT====== */
.about-section {
  border: 2px solid black;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}
.about-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1e2827;
  max-width: 174px;
  margin-right: 110px;
}

.about-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.about-text-one {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  max-width: 439px;
}

.about-text-two {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  max-width: 380px;
}

.about-img {
  margin-left: auto;
}

/* ======CATALOG====== */
.catalog-section {
  border: 2px solid black;
}

.catalog-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 64px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 64px;
  margin-bottom: 80px;
}
.catalog-item {
  width: calc((100% - 72px) / 4);
}
.catalog-img {
}
.catalog-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
}

.catalog-text-price {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.catalog-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  min-width: 122px;
  height: 50px;
  border-radius: 8px;
  padding: 18px 35px;
  background: #1e2827;
  display: block;
  margin-left: auto;
}

.catalog-btn:hover,
.catalog-btn:focus {
  border: 1px solid #fff;
}

/* ======NEW_WATCH===== */
.new-watch-section {
  border: 2px solid black;
}

.new-watch-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(20, 20, 20, 0.4);
  max-width: 85px;
  margin-bottom: 8px;
}

.new-watch-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1e2827;
  max-width: 448px;
  margin-bottom: 80px;
}

.new-watch-img-wrap {
  display: flex;
  gap: 24px;
}
.new-watch-image {
}

/* =======SALE======= */
.sale-section {
  border: 2px solid black;
  padding-top: 80px;
  padding-bottom: 160px;
}
.sale-content {
  display: flex;
  gap: 40px;
}

.sale-gallery {
  display: flex;
  gap: 20px;
}

.sale-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale-info {
  max-width: 369px;
}

.sale-price {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
}

.sale-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1e2827;
  max-width: 84px;
  margin-bottom: 80px;
}

.sale-item {
}
.sale-img {
}
.sale-subtitle {
  font-size: 37px;
  line-height: 1.05;
  letter-spacing: -0.02em;
  color: #141414;
  max-width: 369px;
  margin-bottom: 8px;
}
.sale-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-bottom: 16px;
}

.new-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #141414;
}
.old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(20, 20, 20, 0.5);
}

.sale-subtitle-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #141414;
  border-top: 1px solid #141414;
  padding: 8px 0px;
  width: 369px;
}

.sale-text-description {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
  margin-bottom: 20px;
}

.sale-text-features {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
}
/* ======FOOTER====== */

.footer-section {
  background: #1e2827;
}

.footer-container {
  padding-top: 104px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 174px;
}
.footer-logo {
  margin-bottom: 40px;
}

.footer-link-tel {
  font-size: 18px;
  line-height: 1.33333;
  text-transform: uppercase;
  color: #fff;
}

.address-city {
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-text {
  width: 100%; /* занимает всю строку */
  display: flex;

  align-items: center;
}

.footer-policy {
  margin-left: 20px;
}

.footer-link {
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.footer-networks {
  display: flex;
  gap: 16px;
}

.footer-networks-text-left {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  margin-right: auto;
}

.footer-policy {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: #c6cdd1;
  margin-right: 18px;
}
.footer-policy-service {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: #c6cdd1;
}
