ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  background: #fff;
  color: #2e2f42;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 40px;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-bottom: 64px;
    padding-top: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .section {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

/* HEADER */

.header {
  background: #141414;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  fill: #f4f4fd;
}

.logo-text {
  font-size: 12px;
  letter-spacing: -0.03em;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .header-menu,
  .header-address {
    display: none;
  }

  .header {
    padding-top: 29px;
    padding-bottom: 69px;
  }

  .menu-btn-burger {
    border-color: transparent;
    border: none;
    padding: 0;
    fill: #fff;
    line-height: 0;
    background-color: #141414;
  }
  /* STYLE MOBILE MENU */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #1e2827;
    opacity: 0;
    visibility: hidden;
    transition:
      opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
    padding: 29px 20px;
  }

  .mobile-menu-btn-close {
    position: absolute;
    /* top: 35px; */
    right: 26px;
    padding: 0;
    line-height: 0;
    stroke-width: 1.3px;
    stroke: #fff;
    border: none;
    background-color: transparent;
    transition:
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-btn-close:hover,
  .mobile-menu-btn-close:focus {
    background-color: #a9a9a9;
    stroke: #fff;
    border-radius: 100%;
  }

  .mobile-logo {
    fill: #f4f4fd;
  }

  .mobile-logo-text {
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #fff;
  }

  .mobile-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    margin-top: 200px;
  }

  .mobile-menu-link {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .logo-text {
    font-size: 15px;
    letter-spacing: -0.03em;
    color: #fff;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 80px;
    fill: #f4f4fd;
  }

  .mobile-menu {
    display: none;
  }

  .menu-btn-burger {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 383px;
  }

  .header-address {
    font-style: normal;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    position: relative;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .address-link {
    display: inline-block;
    padding: 18px 35px;
    min-width: 159px;
    height: 48px;
    border-radius: 8px;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #fff;
    background: #1e2827;
  }
}

@media only screen and (min-width: 1280px) {
  .logo {
    margin-right: 80px;
    fill: #f4f4fd;
  }

  .mobile-menu {
    display: none;
  }

  .menu-btn-burger {
    display: none;
  }
}

/* ======HERO ======*/
.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-section {
  margin: 0 auto;
  padding-bottom: 40px;
  background-size: cover;
  background: #141414;
}

.hero-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05263;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 335px;
  margin-bottom: 60px;
}

.hero-wrap {
  margin-bottom: 40px;
}

.hero-small {
  width: 266px;
}

.hero-small-img {
  width: 266px;
  margin-bottom: 20px;
}

.slider-controls {
  display: flex;
  align-items: center;
  width: 266px;
  height: 32px;
  /* margin-bottom: 40px; */
}

.prev {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px;
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, 0.5);
  background: #141414;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px;
  fill: rgba(255, 255, 255, 0.5);
  background: #141414;
}

.slider-counter {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

.slider-counter {
  width: 74px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.slider-counter .line {
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hero-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  width: 335px;
}

.hero-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
  width: 248px;
  margin-left: auto;
  margin-bottom: 40px;
}

.hero-big {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 64px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.03;
    max-width: 653px;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    width: 248px;
    margin-top: 70px;
  }

  .hero-small-img {
    width: 436px;
  }

  .slider-controls {
    width: 436px;
    height: 40px;
  }

  .prev {
    width: 40px;
    height: 40px;
  }

  .next {
    width: 40px;
    height: 40px;
  }

  .slider-counter {
    width: 82px;
  }

  .hero-gallery {
    width: 704px;
  }

  .hero-big {
    width: 704px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-section {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 80px;
  }

  .hero-container {
    display: flex;
  }

  .hero-title {
    order: 1;
    margin-top: 60px;
    margin-bottom: 0;
    max-width: 750px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.03;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .hero-wrap {
    order: 3;
    margin-top: 122px;
    margin-bottom: 0;
  }

  .hero-text {
    order: 2;
    width: 282px;
    margin-bottom: 0;
  }

  .hero-gallery {
    margin-top: 43px;
    margin-left: auto;
    order: 4;
    width: 676px;
  }

  .hero-big {
    width: 100%;
  }

  .slider-controls {
    display: flex;
    align-items: flex-end;
    max-width: 436px;
    margin-bottom: 0;
  }

  .prev {
    width: 40px;
    height: 40px;
  }

  .next {
    width: 40px;
    height: 40px;
  }

  .slider-counter {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 42px;
  }

  .slider-counter {
    display: flex;
    align-items: center;
    max-width: 82px;
    gap: 6px;
  }

  .slider-counter .line {
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
