.header-section {
  border: 2px solid black;
}

.hero-section {
  border: 2px solid black;
}

.about-section {
  border: 2px solid black;
}

.catalog-section {
  border: 2px solid black;
}

.new-watch-section {
  border: 2px solid black;
}

.sale-section {
  border: 2px solid black;
}
